	body
		{
			background-image: url('https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcvEJbh%2FbtqEDRqeByP%2FkTnK75yW8wW4kSKVfKz281%2Fimg.jpg'); 
			background-size: cover;
  			background-blend-mode: multiply;
		}

	h1{
			font-family: 나눔고딕, 나눔, 한사체;
			font-size:35px;
			text-align:center;
		}